// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
*:focus {
  outline: none;
}
.homepage-form{
  input[type='text']{
    margin: 20px 20px 5px 20px;
    padding: 5px 15px;
    font-size: 16px;
    width: 300px;
    line-height: 2;
    border-radius: 5px;
    border: 1px solid gray;
  }
  input[type='radio']{
    cursor: pointer;
    vertical-align: sub;
    margin-left: 10px;
  }
  label{
    cursor: pointer;
  }
  .type-select{
    margin-bottom: 10px;
  }
}
.sidebar-nav{
  li {
    .fa {
      margin-right: 5px;
    }
  }
}
.content{
  padding-top: 100px;
}
.content{
  label{
    font-size: 20px;
  }
}
.bootstrap-tagsinput{
  width: 100%;
}
.label{
  font-size: 85%;
}
.message-home{
  position: absolute;
  width: 80%;
  margin: 40px auto;
  lefT: 0;
  right: 0;
}
.w-90px{
  width: 90px;
}
.w-200px{
  width: 200px;
  .btn{
    float: left;
    margin-left: 10px;
  }
}
.show-song > div {
  margin-top: 30px;
}
.no-padding{
  padding: 0;
}
td.font-20px{
  font-size: 18px;
}
.table>tbody>tr>td{
  vertical-align: middle;
}
a.main-add{
  margin: 10px;
  position: absolute;
}